@mixin flexCentered {
	display: flex;
	-webkit-box-flex: flex;
	justify-content: center;
	align-items: center;
}

@mixin flexSpaceBetween {
	display: flex;
	-webkit-box-flex: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flexSpaceAround {
	display: flex;
	-webkit-box-flex: flex;
	justify-content: space-around;
	align-items: center;
}

@mixin flex($jc: null, $ai: null) {
	display: flex;
	-webkit-box-flex: flex;
	justify-content: $jc;
	align-items: $ai;
}

@mixin borderTest($color) {
	border: 1px solid $color;
}

@mixin glowingLight($bgColor) {
	text-shadow: 0 0 4px white, 0 0 4px $bgColor, 0 0 8px $bgColor,
		0 0 12px $bgColor, 0 0 16px $bgColor, 0 0 18px $bgColor;
	color: rgb(248, 248, 248);
}

@mixin measurementBarBorder($left) {
	width: 20px;
	display: inline-block;
	height: 7px;
	border-bottom: 2px solid white;

	@if ($left == 'left') {
		border-left: 2px solid white;
	} @else {
		border-right: 2px solid white;
	}
}
