section.ui-container {
	display: grid;
	grid-template-columns: 25em 45em;
	width: 70%;
	grid-gap: 20px;
	padding: 1rem 2rem;
	height: 80vh;
	min-height: 38rem;
	justify-content: center;
}

.ui-price-card {
	border: 1px solid black;
	border-radius: 0.4em;
	padding: 0.4em;
	@include flexSpaceBetween;
	background-color: $uiPrimary;
	line-height: 2em;
	font-family: "Kumbh Sans", sans-serif;
	margin: 0.6em 0.1em;
	&:last-child {
		margin-bottom: 3em;
	}
	&__price-box {
		display: flex;
		flex-direction: column;
		background-color: $uiSecondary;
		color: whitesmoke;
		width: 25%;
		border-radius: 0.4em;
		padding: 0 0.2em;
		& > span {
			// @include borderTest(white);
			width: 100%;

			&:nth-child(1) {
				font-style: italic;
				font-size: 0.9em;
			}

			&:nth-child(2) {
				text-align: right;
				font-size: 1.5rem;
				font-weight: 600;
			}
		}
	}

	&__length-box {
		color: rgb(211, 211, 211);
		font-style: italic;
		& > div > span {
			font-weight: bold;
			font-style: normal;
			color: whitesmoke;
		}
	}
}
