*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
}

body {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	background-color: rgb(252, 252, 252);
}

ul > li {
	list-style-type: none;
}

.hide {
	display: none;
}

.visibilityHide {
	visibility: hidden;
}
